* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  display: flex;

  flex-direction: column;
  justify-content: center;

  text-decoration: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* Midlertidig border for å få oversikt */
  /*border: solid 1px rgb(187, 41, 131);*/
}

title {
  font-size: 0;
}

body {
  width: auto;
  background-color: #e9a0bd;
}

/*------------------*/
/*v --- HEADER --- v*/
/*------------------*/

#hero {
  width: 98dvw;
  height: auto;
  flex-direction: row;
  align-self: center;
  margin: 0 10px 0 10px;
}

header {
  height: auto;
  width: 90%;

  margin: 20px 5px;

  border-radius: 6px;
  box-shadow: 0 0 10px #c2a3a9;

  /* Se vekk Emil! v */
  background-image: linear-gradient(to bottom right, #e7d0da, #cca5b5);
}

#header_link {
  width: 100%;
  height: 100%;
  min-width: fit-content;
  flex-direction: row;
}

#logo {
  height: 200px;
  width: 200px;
  margin: 0 10px;
}

h1 {
  padding: 10px 20px;

  font: 600 4em "Verdana";
  letter-spacing: 10px;
  text-shadow: 2px 2px 2px #ad6daa;

  color: #271c20;
}

h2 {
  font: oblique 100 1.2rem "Trebuchet MS";
  align-items: center;
  text-indent: -80px;
  padding: 5px 40px 20px 100px;

  color: #a53664;
  text-shadow: 2px 2px 2px #ca99c8;
}

/*---------------------*/
/* v --- NAV-BAR --- v */
/*---------------------*/

.hero_nav_option {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  margin: 4px 0;
  align-content: center;

  border-radius: 5px;

  background-color: #b885b3;
  box-shadow: -1px 1px 2px #756b6d;

  font: 600 1.2em "Verdana";
  letter-spacing: 1px;
  color: #973b89;
  text-shadow: 1px 1px #a86293;
  text-align: center;
}

.hero_nav_option:hover {
  background-color: #b478b0;
}

#cart_nav {
  background-color: #8b2386;
  color: #531d53;

  margin-top: 25px;

  text-shadow: 0 0 25px #e67ae6;
  box-shadow: -1px 1px 2px #756b6d;
  font: 600 1.2rem "Verdana";
}

#cart_nav:hover {
  text-shadow: 0 0 25px #f5b2f5;

  background-color: #9e2998;
}

/*--------------------------*/
/* v --- ASIDE (main) --- v */
/*--------------------------*/

aside {
  margin: 0 0 30px 8px;
  flex-direction: row;
  justify-self: right;
  position: sticky;

  width: 180px;
  padding: 15px;

  border-radius: 10px;

  background-color: #221f1f;
}

#cat_menu {
  height: auto;
  justify-content: flex-start;
}

h4 {
  padding: 20px;

  font: 600 1em "Verdana";
  letter-spacing: 3px;

  color: #beafb5;
}

.cat_option {
  margin: 5px 10px;
  padding: 10px 30px;
  width: 80%;
  align-self: flex-start;

  text-align: end;
  font: 400 1.2rem "Verdana";
  letter-spacing: 2px;
  color: #dbc1d0;
  text-shadow: 0 2px rgb(105, 67, 86);

  background-color: #332f2f;

  border-radius: 3px 30px 30px 3px;
  box-shadow: -1px 1px 2px #5c5456;
}

/*------------------*/
/* v --- MAIN --- v*/
/*------------------*/

main {
  width: 98dvw;
  flex-direction: row;
}

#new_items_container {
  display: grid;
  grid-template-columns: auto auto auto auto;

  height: fit-content;
  width: fit-content;
}

#new_items {
  padding: 5px 25px 50px 25px;
  margin: 0 5px 30px 20px;

  width: 100%;
  height: 100%;

  align-self: flex-end;

  background-color: #221f1f;

  border-radius: 5px;
}

h3 {
  padding: 20px 5px;
  color: #eed4d4;
  letter-spacing: 3px;
}

.item {
  padding: 20px;
  margin: 5px;
  width: auto;
  height: fit-content;

  box-shadow: -2px 2px 2px rgb(116, 111, 113);

  background-color: #ceb3c0;
  border-radius: 3px;
}

.item_img {
  height: 200px;
  width: 200px;
  margin: 5px;

  background-color: #dad0d5;
  background-image: url("./kattelogo_itembackground.jpg");
  background-size: 100%;

  border: solid 2px #ece4e4;
  box-shadow: -2px 2px 2px #af9299;
}

figcaption {
  color: #332f2f;
  font: italic 500 1.1em "Verdana";
  letter-spacing: -0.5px;
}

/*------------------*/
/*v --- Footer --- v*/
/*------------------*/

footer {
  background-color: rgb(218, 211, 215);
  width: 98dvw;
}

#footer_container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  margin: 20px 0;
}

.footer_section {
  width: 50dvw;
  height: fit-content;
  text-align: center;
  align-self: center;
}

.footer_link {
  width: 90%;
  padding: 2px;
  margin: 1px;
  border-radius: 3px;
  align-self: center;

  background-color: #c5b9bd;
  color: #a35f7f;
  font: italic 400 1em "Verdana";
  letter-spacing: 2px;
}

h6 {
  padding: 80px;
  align-items: center;

  font: oblique 600 1em "Verdana";
  color: #866a7f;
}
